<ion-view view-title="Contact Us">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                Location Information
            </div>
            <div class="item item-text-wrap">
                <h2>Our Address</h2>
                <div class="row">121, Clear Water Bay Road</div>
                <div class="row ">Clear Water Bay, Kowloon</div>
                <div class="row ">HONG KONG</div>
                <div class="row ">
                    <i class="icon ion-android-call"> </i>+852 1234 5678
                </div>
                <div class="row ">
                    <i class="icon ion-printer"> </i>+852 8765 4321
                </div>
                <div class="row ">
                    <i class="icon ion-email"> </i>confusion@food.net
                </div>
            </div>
            <div class="item item-divider">
                <div class="button-bar">
                    <a class="button button-positive"><i class="icon ion-android-call"> </i>Call</a>
                    <a class="button button-calm"><i class="icon ion-social-skype"> </i>Skype</a>
                    <a class="button button-balanced"><i class="icon ion-email"> </i>Email</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>