<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Location Information
        </div>
        <div class="item item-left item-text-wrap">
            <h3>Our Address</h3>
            <p>
              121, Clear Water Bay Road</br>
              Clear Water Bay, Kowloon</br>
              HONG KONG</br>
              <i class="ion-android-call" style="font-size: 1.2em"></i>: +852 1234 5678</br>
              <i class="ion-printer" style="font-size: 1.2em"></i>: +852 8765 4321</br>
              <i class="ion-android-mail" style="font-size: 1.2em"></i>:<a href="mailto:confusion@food.net"> confusion@food.net</a>
            </p>
             <ion-icon name="skype"></ion-icon>
        </div>
        <div class="button-bar">
          <a class="button button-positive"><i class="ion-android-call" style="color:white; font-size: 1.3em"></i> Call</a>
          <a class="button button-calm"><i class="ion-social-skype" style="font-size: 1.6em"></i> Skype</a>
          <a class="button button-balanced"><i class="ion-android-mail" style="color:white; font-size: 1.3em"></i> Email</a>
        </div>
    </div>
  </ion-content>
</ion-view>
